{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
{% endblock styles %}


{% block greeting %}
<div>
    <h1>Spider Social</h1>
    <h2>Welcome, {{ user.first_name }}</h2>
</div>
<img id="avatar" src="{{ user.detail.avatar }}" alt="">
{% endblock greeting %}

{% block account %}
<div>

    <h1>Page under construction</h1>


    <p>{{ user.detail.species }}</p>

</div>
{% endblock account %}

{% block list %}
<div>

    <!-- {% for user in users %} -->
    <img class="list_avatar" src="{{ highlight.detail.avatar }}" alt="">

    <p>{{ highlight.detail.species }}</p>

    <!-- {% endfor %} -->

</div>
{% endblock list %}
