{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
{% endblock styles %}


{% block greeting %}
<div id="one">
    <h2>Welcome, {{ user.first_name }}</h2>
</div>
{% endblock greeting %}

{% block account %}
<div id="two">

    <h1>Page under construction</h1>
    <img id="avatar" src="{{ user.detail.avatar }}" alt="">

    <p>{{ user.detail.species }}</p>

</div>
{% endblock account %}

{% block list %}
<div id="three">

</div>
<div id="four">

    {% for user in users %}
    <img src="{{ user.detail.avatar }}" alt="">

    <p>{{ user.detail.species }}</p>

    {% endfor %}

</div>
{% endblock list %}
